<table class="myTable">
  <tr>
    <th>Merchant logo</th>
    <th>Merchant name</th>
    <th>Product name</th>
    <th>Product price</th>
    <th>Product currency</th>
    <th>Product affiliate link</th>
  <tr>
  <tr *ngFor="let offer of this.offers">
    <td><img src="{{offer.merchant.logo_url}}" /></td>
    <td>{{offer.merchant.name}}</td>
    <td>{{offer.offer.display_name}}</td>
    <td>{{offer.offer.price}}</td>
    <td>{{offer.offer.currency_iso}}</td>
    <td>{{offer.offer.link}}</td>
  </tr>
</table>
